

button{
    background-color: #6278f7;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 20px;
}
button:hover{
    color: #95ffd4;
    cursor: pointer;
}