.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.input-container label{
    font-size: 20px;
}
.input-container input{
  
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.input-container input::placeholder{
    color: rgb(180, 180, 180);
}